<body onload="init()">
    <nav class="navbar navbar-light bg-white">

        <a href="/feed" class="navbar-brand" id="heading">Social Spark</a>

        <form class="form-inline">
            <div class="input-group">
                <div> <a style="padding-left: 20px;padding-right: 20px;color: white;" href='/profile/profileUpdate'>Update profile</a></div>
                <input type="text" class="form-control" id="searchUser" autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div><a style="padding-left: 20px;padding-right: 20px;color: white;" href="/auth/logout">Log out</a></div>
        </form>
    </nav>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" id="ownUser">
                        <div class="h7 text-muted">Name: {{first_name}} {{last_name}}</div>
                        <div class="h7 text-muted">Bio: {{bio}}</div>
                    </div>
                    {{!-- <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Friends</div>
                            <div class="h5">{{friends_count}}</div>
                        </li>

                    </ul> --}}
                </div>
            </div>

            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    {{!-- <div class="card-header"> --}}
                        {{!-- <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> --}}
                            {{!-- <li class="nav-item"> --}}
                                {{!-- <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                                    aria-controls="posts" aria-selected="true">Make a post</a> --}}
                            {{!-- </li> --}}
                            {{!-- <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                                    aria-selected="false" href="#images">Images</a>
                            </li> --}}
                        {{!-- </ul> --}}
                    {{!-- </div> --}}
                   <div class="card-body">
                        <h5 class="card-title">Post</h5>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">Post</label>
                                    <textarea class="form-control" id="message" rows="3"
                                        placeholder="What are you thinking?"></textarea>
                                </div>

                            </div>
                            {{!-- <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div> --}}
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" onclick="createPost()">Post</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Feed-->
                <div id="feeds"></div>
                <!-- Feed /////-->
            </div>
            {{!-- Right side card --}}
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Friends {{friends.length}}</h5>
                        <!-- todo loop friends--->
                        {{#each friends}}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <a href="/profile/{{id}}">
                                        <img class="rounded-circle" width="25" src="https://picsum.photos/50/50" alt="">&nbsp;
                                        {{name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Requests {{friendRequests.length}}</h5>
                        
                        {{#each friendRequests}}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <a href="/profile/{{id}}">
                                        <img class="rounded-circle" width="25" src="https://picsum.photos/50/50" alt="">&nbsp;
                                        {{name}}
                                    </a>
                                    <button class="fa fa-check" title="Accept friend request" onclick="acceptFriendRequest({{friendId}})"></button>
                                    <button class="fa fa-times" title="Decline friend request" onclick="declineFriendRequest({{friendId}})"></button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>

            </div>
            {{!-- Right side card --}}

            
        </div>
    </div>



    {{!-- 

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/feed.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> --}}

    {{!-- <script type=text/javascript>
        $(document).ready(function(){
            init();
        });
    </script> --}}

<script>
function acceptFriendRequest(id){
    axios
        .put('/api/friends/accept/'+id)
        .then(function(res) {
            window.location.reload();
        })

}


function declineFriendRequest(id){
    axios
        .put('/api/friends/decline/'+id)
        .then(function(res) {
            window.location.reload();
        })
}
</script>
</body>