<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Social Spark</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ad8ad4f1d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body onload="init()">
    <nav class="navbar navbar-light bg-white">

        <a href="/feed" class="navbar-brand" id="heading">Social Spark</a>

        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="searchUser" autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="dropdown show" style="padding-left: 20px;padding-right: 20px;">
                <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/profile/profileUpdate">Update Profile</a>
                    <a class="dropdown-item" href="/auth/logout">Log out</a>
                </div>
            </div>
        </form>
    </nav>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" id="ownUser">
                        <div class="h7 text-muted">Name: {{first_name}} {{last_name}}</div>
                        <div class="h7 text-muted">Bio: {{bio}}</div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Post</h5>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">Post</label>
                                    <textarea class="form-control" id="message" rows="3" maxlength="250"
                                        placeholder="What are you thinking?"></textarea>
                                </div>

                            </div>

                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" onclick="createPost()">Post</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Feed-->
                <div id="feeds"></div>
                <!-- Feed /////-->
            </div>
            {{!-- Right side card --}}
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Friends {{friends.length}}</h5>
                        <!-- todo loop friends--->
                        {{#each friends}}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <a href="/profile/{{id}}">
                                        <img class="rounded-circle" width="25" src="https://picsum.photos/50/50"
                                            alt="">&nbsp;
                                        {{name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Requests {{friendRequests.length}}</h5>

                        {{#each friendRequests}}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <a href="/profile/{{id}}">
                                        <img class="rounded-circle" width="25" src="https://picsum.photos/50/50"
                                            alt="">&nbsp;
                                        {{name}}
                                    </a>
                                    <button class="fa fa-check" title="Accept friend request"
                                        onclick="acceptFriendRequest({{friendId}})"></button>
                                    <button class="fa fa-times" title="Decline friend request"
                                        onclick="declineFriendRequest({{friendId}})"></button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>

            </div>
            {{!-- Right side card --}}


        </div>
    </div>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script
        src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.0/dist/latest/bootstrap-autocomplete.min.js">
    </script>

    <script>
        function acceptFriendRequest(id) {
            axios
                .put('/api/friends/accept/' + id)
                .then(function (res) {
                    window.location.reload();
                })

        }


        function declineFriendRequest(id) {
            axios
                .put('/api/friends/decline/' + id)
                .then(function (res) {
                    window.location.reload();
                })
        }
    </script>
</body>

</html>