

{{!-- Create everything here that relates to homepage --}}
{{!-- 


<table>
    <thead>
        <th>Post ID</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Comment</th>
        <th>Commented_By</th>
    </thead>
    <tbody>
        {{#each posts}} 
        <tr>
            <td>
                <a href="/posts/{{Post_ID}}">{{Post_ID}}</a>
            </td>
            <td>{{Post_Body}}</td>
            <td>{{Posted_By}}</td>
            <td>{{Comment}}</td>
            <td>{{Commented_By}}</td>
        </tr>
        {{/each}}

    </tbody>
    
</table> --}}

{{!-- const records = {
    post : 'sfkgndkfnhg'
} --}}