    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/profile.js"></script>

    <body onload="init()">
        <nav class="navbar navbar-light bg-white">

            <a href="/feed" class="navbar-brand" id="heading">Social Spark</a>

            <form class="form-inline">
                {{!-- <div> <a style="padding-left: 20px;padding-right: 20px; color:black;" href='/profile/profileUpdate'>Update profile</a></div> --}}
                <div class="input-group">
                    <input type="text" class="form-control" id="searchUser" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="dropdown show" style="padding-left: 20px;padding-right: 20px;">
                <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Settings
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/profile/profileUpdate">Update Profile</a>
                  <a class="dropdown-item" href="/auth/logout">Log out</a>
                </div>
              </div>
            </form>
        </nav>
        <div class="container-fluid gedf-wrapper">
            <div class="row">
                <div class="col-md-2">
                </div>
                <!-- Middle column -->
                <div class="col-md-5 gedf-main">
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Profile</h5>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded" width="150" height="150"
                                            src="https://picsum.photos/150/150" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h7 text-muted">{{first_name}}</div>
                                        <div class="h5 m-0">{{first_name}} {{last_name}}</div>
                                        <div class="h7">Location - {{city}}</div>
                                        <div class="h7">Joined {{created_at}}</div>
                                        {{#if showAddRemoveFriend}}
                                            {{#unless isFriend}}
                                            <button onclick="addFriend({{user_id}})"> Add friend</button> <!--todo-->
                                            {{/unless}}
                                            {{#if isFriend}}
                                            <button onclick="removeFriend({{friends_id}})"> Remove friend</button> <!--todo-->
                                            {{/if}}
                                        {{/if}}
                                        {{#if friendRequestSent}}
                                            <button disabled> Requested</button>
                                        {{/if}}
                                        {{#if showConfirmDeclineRequest}}
                                            <button class="fa fa-check" title="Accept friend request" onclick="acceptFriendRequest({{friendRequest.friends_id}})"></button>
                                            <button class="fa fa-times" title="Decline friend request" onclick="declineFriendRequest({{friendRequest.friends_id}})"></button>
                                        {{/if}}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Post</h5>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">Post</label>
                                    <textarea class="form-control" id="message" rows="3"
                                        placeholder="What are you thinking?"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" onclick="createPost()">Post</button>
                            </div>

                        </div>
                    </div>
                </div>
                    <!-- Personal posts to own wall -->
                    {{#each posts}}
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">{{firstname1}} {{lastname1}} --> {{firstname2}} {{lastname2}} 
                                        
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>&nbsp;{{created_at}}
                            </div>
                            <p class="card-text">{{description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link"><i class="fas fa-heart"></i> Like</a>
                            <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        </div>
                    </div>
                    {{/each}}
                    <!-- Personal posts to own wall -->
                </div>
                <!-- Middle column -->

                <!-- Friends column -->
                <div class="col-md-3">
                    <div class="card gedf-card">
                        <div class="card-body" >
                            <h5 class="card-subtitle">Friends</h5>
                            <h7 class="card-title text-muted">{{user_friendship_count}}</h7>
                            <ul id="friendbody">
                                {{#each friends}}
                                    <li><a href="/profile/{{id}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Friends column -->
                <div class="col-md-2">
                </div>
            </div>
        </div>
<script type="text/javascript">
function addFriend(id){
    console.log("add friend", id);
    axios
        .post('/api/friends', {user_id: id})
        .then(function(res){
                console.log(res)
                window.location.reload();
        });
}

function removeFriend(id){
    console.log("Friend:", id);
        axios
            .delete('/api/friends/'+id)
            .then(function(res){
                console.log(res)
                window.location.reload();
            });
}

function acceptFriendRequest(id){
    axios
        .put('/api/friends/accept/'+id)
        .then(function(res) {
            window.location.reload();
        })

}


function declineFriendRequest(id){
    axios
        .put('/api/friends/decline/'+id)
        .then(function(res) {
            window.location.reload();
        })
}

</script>