    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/profile.js"></script>

    <body onload="init()">
    <nav class="navbar navbar-light bg-white">

        <a href="/feed" class="navbar-brand" id="heading">Social Spark</a>


        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="dropdown show" style="padding-left: 20px;padding-right: 20px;">
                <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Settings
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/profile/profileUpdate">Update Profile</a>
                  <a class="dropdown-item" href="/auth/logout">Log out</a>
                </div>
            </div>
        </form>


    </nav>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
            </div>
            <!-- Middle column -->
            <div class="col-md-6 gedf-main">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>

                        <form id="userProfile" action="/profile/update" method="POST">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    aria-describedby="firstNameUpdate" placeholder="Enter first name" maxlength="80" value="{{first_name}}">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="lastNameUpdate"
                                    placeholder="Enter last name" maxlength="80" value="{{last_name}}">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" name="address" id="address" aria-describedby="address"
                                    placeholder="Enter address" maxlength="60" value="{{address}}">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" id="city" aria-describedby="city"
                                    placeholder="Enter city" maxlength="60" value="{{city}}">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" id="state" aria-describedby="state"
                                    placeholder="Enter State" maxlength="60" value="{{state}}">
                            </div>
                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <textarea class="form-control" name="bio" id="bio" rows="3" maxlength= "250" placeholder="Enter bio" >{{bio}}</textarea>
                            </div>
                            <div class="tab-pane" id="images" role="tabpanel" aria-labelledby="profileImage">
                               
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="saveProfileUpdate()">Save</button>
                            <a href="/feed" class="btn btn-outline-primary">Close</a>
                        </form>

                        
                    </div>

                </div>
                <!-- Middle column -->

                <div class="col-md-3">
                </div>
            </div>
        </div>
